h1{
    font-family: 'Lucida Sans', 'Lucida Sans';
    color: rgb(212, 188, 158);
}
.tambah{

    margin-right: 25%;
}
.tambah input[type=text] {
    margin-left: 49%;
    padding: 6px 7px;
    width: 35%;
    border: none;
    border-radius: 10px;
    background-color: bisque;
    cursor: pointer;
}
.tambah select[type=text]{
    margin-bottom: 10px;
    margin-left: 32%;
    padding: 6px 7px;
    width: 36%;
    border: none;
    border-radius: 10px;
    background-color: bisque;
    cursor: pointer;
}
.tambah input[type=submit]{
    margin-left: 57%;
    padding: 8px 7px;
    width: 20%;
    border: none;
    border-radius: 10px;
    background-color: rgb(207, 176, 137);
    color: whitesmoke;
    cursor: pointer;
}
